.nav-wrapper {
  background-color: #44318d;
  color: #fff;
}
.nav-wrapper a {
  color: #fff;
  text-decoration: none;
}
.nav-inner {
  display: flex;
  justify-content: space-between;
}

.nav-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon-wrapper a {
  padding-top: 0.2rem;
  margin: 0.5rem;
}
.menu_active {
  display: flex;
  flex-direction: column;
}
